<!--
With The Name Of God

_ Ali Almohaya (AKA Almo7aya) 18/May/2017 - last edit 21/May/2017_
_ Hotspot Temp - estraha plug in _
_ https://fb.com/Almo7aya _
-->


<!DOCTYPE html>
<html>
  <head>

	<meta charset="utf8" />

	<title> الاستراحة الرمضانية </title>

	<meta name="theme-color" content="#D0A071" />
	<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable" />
	<!--

	<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
	-->  

	<link rel="stylesheet" href="css/cairo-font.css" />

	<!--add the normalize to fix the browser issus-->
	<link href="css/normalize.css" rel="stylesheet" />

	<!--The style file will auto create by ruby with sass-->
    <link href="css/style.css" rel="stylesheet">


  </head>
  <body id="estraha">

	<main>

	  <span id="top">

		<img src="img/arrow.svg" width="23px"/>

	  </span>

	  <!--start header-->
	  <header class="header">
		<div class="container noborder">

		  <img src="img/moon.svg" width="140px"/>

		  <h1> رمضان كريم </h1>

		  <p> <%= name %> </p>
		  
		  
		</div>
	  </header>
	  <!--end header-->

	  <!--start section-->
	  <section class=" estraha ">
		<div class="container">
		  
		  <h3> الاستراحة الرمضانية </h3>
		  
		  <ul class="files">



				<% files.forEach(file => { %>
				   <% if (file.type === 'dir') { %>

					 			<a href="/browser?file1=<%= file.name %>">
			  					<li>
										
			   						<%= file.name %>

			     					<img src="img/folder.svg" width="20px" alt="folder"/>
				 
			  				</li>
							</a>
						<% } %>

					<% }); %>

			
		  </ul>
		  
		</div>
	  </section>

	  <br />

	  <br />


	  <!--start footer and my name (;-->

	  <footer>
		<div class="container noborder">

		  <p>Made with ♥ ↝ <a href="https://fb.com/Almo7aya">Ali Almohaya</a></p>

		  <p> مصممه خصيصا للمسابقة الرمضانية الاولى </p>
		</div>
	  </footer>

	  <!--end footer and my name (;-->


	</main>


	<!--add jQuery lib-->
	<script src="js/jquery.js"></script>
	<!--main javascript file-->
	<script src="js/index.js"></script>

  </body>
</html>
